
.letra_1{
	font-family: 'Alfa Slab One', cursive; 
	font-size: 50pt;
	font-weight: bold;
	color: #060FC6;
  font-style:italic;
  font-weight: bold;
  letter-spacing: 5px;
  }

.letra_2{
  font-family: Arial;
  font-size: 25pt;
  font-weight: bold;
  color: white;
}

.letra_3{
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

.campo{
	font-size:16pt;
	font-weight: bold;
	color: white;
	background: #060FC6;
	text-align: center;
	border-radius: 7%;
}

 .boton{    
    display:inline-block;
    width:70%;
    padding:10px;
    background: darkblue;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 3px white;
    border-radius: 15px;
   }

  .boton:hover{
  	color: skyblue;
    box-shadow: 0px 0px 5px 5px skyblue;
    
  }